.venv
.venv*
venv
venv-py311
# Data and logs
data
logs

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore all markdown files except README.md
*.md
!README.md

# Database files
*.db
*.sqlite
*.sqlite3

# Large model files
shape_predictor_68_face_landmarks.dat

*.bat
*.ps1